<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>DEAS | 행사 지원 정보</title>
    <link rel="stylesheet" th:href="@{/css/global.css}" />
  </head>
  <body>
    <div th:replace="header :: header"></div>
    <main class="event-applies-page">
      <h1>지원 정보</h1>
      <div class="container">
        <table class="event-table">
          <thead>
            <tr>
              <th>행사명</th>
              <th>지원자 이름</th>
              <th>질문</th>
              <th>답변</th>
            </tr>
          </thead>
          <tbody>
            <div th:each="applyDetail : ${applyDetailResponse}">
              <tr>
                <td
                  th:text="${applyDetail.apply.event.name}"
                  th:attr="rowspan=${#lists.size(applyDetail.answerList) == 0 ? 1 : #lists.size(applyDetail.answerList)}"
                >
                  행사명
                </td>
                <td
                  th:text="${applyDetail.apply.member.name}"
                  th:attr="rowspan=${#lists.size(applyDetail.answerList) == 0 ? 1 : #lists.size(applyDetail.answerList)}"
                >
                  지원자 이름
                </td>
                <td
                  class="td1"
                  th:if="${#lists.size(applyDetail.answerList) > 0}"
                >
                  <span th:text="${applyDetail.answerList[0].question.content}"
                    >질문</span
                  >
                </td>
                <td th:if="${#lists.size(applyDetail.answerList) > 0}">
                  <span
                    th:if="${#strings.toString(applyDetail.answerList[0].type) == 'CHOICE'}"
                    th:text="${applyDetail.answerList[0].choice.content}"
                    >객관식 답변</span
                  >
                  <span
                    th:if="${#strings.toString(applyDetail.answerList[0].type) == 'ESSAY'}"
                    th:text="${applyDetail.answerList[0].answer}"
                    >주관식 답변</span
                  >
                </td>
              </tr>
              <tr
                th:each="answer, iterStat : ${applyDetail.answerList}"
                th:if="${iterStat.index > 0}"
              >
                <td class="td2">
                  <span th:text="${answer.question.content}">질문</span>
                </td>
                <td>
                  <span
                    th:if="${#strings.toString(answer.type) == 'CHOICE'}"
                    th:text="${answer.choice.content}"
                    >객관식 답변</span
                  >
                  <span
                    th:if="${#strings.toString(answer.type) == 'ESSAY'}"
                    th:text="${answer.answer}"
                    >주관식 답변</span
                  >
                </td>
              </tr>
            </div>
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>
