<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" th:href="@{/css/global.css}" />
    <title>DEAS | 행사</title>
  </head>
  <body>
    <div th:replace="header :: header"></div>
    <main style="margin-top: 60px">
      <h1>행사 목록</h1>
      <div class="container">
        <table class="event-table">
          <thead>
            <tr>
              <th>번호</th>
              <th>행사명</th>
              <th>태그</th>
              <th>최대 참가자 수</th>
              <th>상태</th>
              <th>신청 시작일</th>
              <th>신청 종료일</th>
              <th>주최처</th>
            </tr>
          </thead>
          <tbody>
            <tr
              th:each="event : ${events}"
              th:onclick="|window.location.href='/event/' + ${event.id}|"
            >
              <td th:text="${event.id}"></td>
              <td th:text="${event.name}"></td>
              <td>
                <span th:switch="${#strings.toString(event.tag)}">
                  <span th:case="SESSION">설명회</span>
                  <span th:case="CLUB">동아리</span>
                  <span th:case="SEMINAR">세미나</span>
                  <span th:case="MISC">기타</span>
                  <span th:case="*">없음</span>
                </span>
              </td>
              <td
                th:text="${event.maxParticipant == 0 ? '제한 없음' : event.maxParticipant}"
              ></td>
              <td>
                <span
                  th:if="${event.applyStartTime.isAfter(T(java.time.LocalDateTime).now())}"
                >
                  모집 전
                </span>
                <span
                  th:if="${event.applyStartTime.isBefore(T(java.time.LocalDateTime).now()) and event.applyEndTime.isAfter(T(java.time.LocalDateTime).now())}"
                >
                  모집 중
                </span>
                <span
                  th:if="${event.applyEndTime.isBefore(T(java.time.LocalDateTime).now())}"
                >
                  모집 완료
                </span>
                <span
                  th:if="${event.applyStartTime == null or event.applyEndTime == null}"
                >
                  없음
                </span>
              </td>

              <td
                th:text="${#temporals.format(event.applyStartTime, 'yyyy-MM-dd HH:mm')}"
              ></td>
              <td
                th:text="${#temporals.format(event.applyEndTime, 'yyyy-MM-dd HH:mm')}"
              ></td>
              <td th:text="${event.organizer}"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>
